<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Service Provider
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport' />
    <base href="/" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="style.css">
    <!-- CSS Files -->
<!--    <link rel="stylesheet" href="css/material-dashboard.css" id="bootstrap-css">-->
<!--    <link rel="stylesheet" href="css/material-dashboard.css?v=2.1.1" />-->
<!--    <link rel="stylesheet" href="css/css1.css" />-->
</head>

<body>
<div class="wrapper ">
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">POC IOBuilders</a>
            </div>
            <ul id="navbar" class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav">
            <form method="post" action="/login" >
                <input placeholder="user">
                <input placeholder="password" type="password">
                <button name="login" type="submit" value="LogIn">LogIn</button>
            </form>
            </ul>
        </div>
    </nav>